* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
}

.title-center {
  text-align: center;
  font-size: 40px;
  color: #717171;
  text-transform: uppercase;
  margin-block: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 4rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-text {
  width: 400px;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.input-text::placeholder {
  font-size: 18px;
  color: #575757;
  opacity: 0.5;
}

.input-text:focus {
  outline: none;
  border-color: #e81cff;
}

.cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #e81cff;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #e81cff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
  font-size: 18px;
  color: #717171;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

/* From Uiverse.io by barisdogansutcu */
.submit-button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #717171;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button:hover {
  letter-spacing: 3px;
  background-color: #e81cff;
  color: hsl(0, 0%, 100%);
  box-shadow: #e81cffb2 0px 7px 29px 0px;
}

.submit-button:active {
  letter-spacing: 3px;
  background-color: hsla(294, 100%, 25%, 0.698);
  color: hsl(0, 0%, 100%);
  box-shadow: #e81cff2d 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  margin-inline: 1rem;
  max-width: 800px;
  color: #717171;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #717171;
  padding-left: 1rem;
  transition: all 0.5s ease;
}

li:hover {
  border: 1px solid #e81cff;
}

li #priority {
  height: 4rem;
  width: 15px;
}

.priority-green {
  background-color: green;
}

.priority-red {
  background-color: red;
}

.material-symbols-outlined {
  transition: all 0.5s ease;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined:hover {
  color: red;
}


